<!DOCTYPE html>
{% load static %}
<html lang="fr" class="no-js">
<!--<![endif]-->

<head>
	<!-- meta character set -->
	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Campus Connect</title>
	<!-- Meta Description -->
	<meta name="description" content="Blue One Page Creative HTML5 Template">
	<meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
	<meta name="author" content="Themefisher">
	<link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets1/images/cc.png' %} ">
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="blue-pro" />

	<!-- CSS
		================================================== -->

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">

	<!-- Fontawesome Icon font -->
	<link rel="stylesheet" href="{% static 'assets/plugins/font-awesome.min.css' %} ">
	<!-- Ion Icons Font -->
	<link rel="stylesheet" href="{% static 'assets/plugins/ionicons.min.css' %} ">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="{% static 'assets/plugins/jquery.fancybox.css' %} ">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/bootstrap.min.css' %} ">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="{% static 'assets/plugins/owl.carousel.css' %} ">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="{% static 'assets/plugins/slit-slider.css' %} ">
	<!-- bootstrap.min -->
	<link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %} ">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %} ">

	<!-- Modernizer Script for old Browsers -->
	<script src="{% static 'assets/plugins/modernizr-2.6.2.min.js' %} "></script>

</head>

<body id="body">
	<header id="navigation" class="fixed-top animated-header">
		<div class="container">
		  <nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" href="#body">
			  {% comment %} <img class="img-fluid" src="{% static 'assets/images/logo.png' %}" alt=""> {% endcomment %}
			  <span class="" >Campus Connect</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
	  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto text-center" id="nav">
				<li class="nav-item active">
				  <a class="nav-link" href="#body">Acceuil</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#service">Nos Services</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#portfolio">Nos Universités</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#testimonials">L'Équipe</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#price">Rechercher un Étudiant</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#contact">Contact</a>
				</li>
				</li>
			  </ul>
			</div>
		  </nav>
		</div>
	</header>

{% block content %}
	
{% endblock content %}
	

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>
          <a href="">
            <span>Campus Connect</span>
          </a>
        </h4>
        <p>Plateforme de gestion du parcours des étudiants dans les
			universités du Benin.</p>
      </div>
      <div class="col-md-4">
        <h4>Liens Utiles</h4>
        <ul>
          <li><a href="#">GIT</a></li>
          <li><a href="#">EPAC</a></li>
          <li><a href="#">République du Bénin</a></li>
          <li><a href="#">Polices</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Abonnez-vous</h4>
        <p>Plus d'infos pour vous.</p>
        <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
          <div class="input-field">
            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
            <button type="submit" class="submit-icon">
              <i class="fa fa-paper-plane fa-lg"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
<section id="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="text-center text-lg-left">
          COPYRIGHT © 2024 , KAF | GIT
        </p>
      </div>
      <div class="col-md-6 text-right">
        <p class="text-center text-lg-left">
          Design and Developed By <a href="#">RII1</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Essential jQuery Plugins
		================================================== -->
	<!-- Main jQuery -->
	<script src=" {% static 'assets/plugins/jquery-1.11.1.min.js' %} "></script>
	<!-- Twitter Bootstrap -->
	<script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js' %} "></script>
	<!-- Single Page Nav -->
	<script src="{% static 'assets/plugins/jquery.singlePageNav.min.js' %} "></script>
	<!-- jquery.fancybox.pack -->
	<script src="{% static 'assets/plugins/jquery.fancybox.pack.js' %} "></script>
	<!-- Owl Carousel -->
	<script src="{% static 'assets/plugins/owl.carousel.min.js' %} "></script>
	<!-- jquery easing -->
	<script src="{% static 'assets/plugins/isotope.pkgd.min.js' %} "></script>
	<script src="{% static 'assets/plugins/jquery.easing.min.js' %} "></script>
	<!-- Fullscreen slider -->
	<script src="{% static 'assets/plugins/jquery.slitslider.js' %} "></script>
	<script src="{% static 'assets/plugins/jquery.ba-cond.min.js' %} "></script>
	<!-- onscroll animation -->
	<script src="{% static 'assets/plugins/wow.min.js' %} "></script>
	<!-- Custom Functions -->
	<script src="{% static 'assets/plugins/jquery.form.min.js' %} "></script>
	<script src="{% static 'assets/plugins/jquery.validate.min.js' %} "></script>
	<!-- Google Map -->
	<!-- Google Map -->
	
	<script src="{% static 'assets/plugins/gmap.js' %} "></script>
	<script src="{% static 'assets/js/main.js' %} "></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA"></script>
	<script>
		$(function () {
			$("#contact-form").validate({
				rules: {
					name: {
						required: true,
						minlength: 2
					},
					email: {
						required: true,
						email: true
					},
					subject: {
						required: true,
						minlength: 2
					},
					message: {
						required: true,
						minlength: 2
					}
				},
				messages: {
					name: {
						required: "come on, you have a name don't you?",
						minlength: "your name must consist of at least 2 characters"
					},
					email: {
						required: "no email, no support"
					},
					subject: {
						required: "you have a reason to contact, write it here",
						minlength: "thats all? really?"
					},
					message: {
						required: "um...yea, you have to write something to send this form.",
						minlength: "thats all? really?"
					}
				},
				submitHandler: function (form) {
					$(form).ajaxSubmit({
						type: "POST",
						data: $(form).serialize(),
						url: "mail.php",
						success: function () {
							console.log('done');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".contact-form").resetForm();
								$(".success-ms").slideDown("slow");
							});
						},
						error: function () {
							console.log('error');
							$(".contact-form").fadeTo("slow", 1, function () {
								$(".error-ms").slideDown("slow");
							});
						}
					});
				},
				errorPlacement: function (error, element) {
					element.after(error);
					error.hide().slideDown();
				}
			});
		});
	</script>
</body>

</html>
