
<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>CampusConnect Projet Python RII1</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets1/images/cc.png' %} ">
    <!-- Pignose Calender -->
    <link href="{% static 'assets1/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'assets1/plugins/chartist/css/chartist.min.css' %} ">
    <link rel="stylesheet" href="{% static 'assets1/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %} ">

    <link href="{% static 'assets1/plugins/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link href="{% static 'assets1/css/style.css' %} " rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr text-white">CC </b>
                    <span class="logo-compact">CampusConnect</span>
                    <span class="brand-title text-white">
                        CampusConnect
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                {% if not user.is_superuser %}
                                    <img src="/static/{{user.logo}}" height="40" width="40" alt="">
                                {% endif %}
                                {% if user.is_superuser %}
                                    <img src="{% static 'assets1/images/test.webp' %}" height="40" width="40" alt="">
                                {% endif %}
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li><a href=" {% url 'logout' %} " class="text-danger"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="" aria-expanded="false">
                            <i class="icon-home menu-icon"></i><span class="nav-text">Home</span>
                        </a>
                    </li>

                    <li class="nav-label">Transfert</li>
                    <li>
                        <a class="has-arrow" href="/" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Étude de dossier</span>
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        
        {% block content %}
            
        {% endblock content %}
            
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="">PFP</a> GIT4-RII1 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'assets1/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'assets1/js/custom.min.js' %} "></script>
    <script src="{% static 'assets1/js/settings.js' %} "></script>
    <script src="{% static 'assets1/js/gleek.js' %} "></script>
    <script src="{% static 'assets1/js/styleSwitcher.js' %} "></script>

    <!-- Chartjs -->
    {% comment %} <script src="{% static 'assets1/plugins/chart.js/Chart.bundle.min.js' %} "></script> {% endcomment %}
    <!-- Circle progress -->
    {% comment %} <script src="{% static 'assets1/plugins/circle-progress/circle-progress.min.js' %} "></script> {% endcomment %}
    <!-- Datamap -->
    <script src=" {% static 'assets1/plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'assets1/plugins/topojson/topojson.min.js' %}"></script>
    {% comment %} <script src="{% static 'assets1/plugins/datamaps/datamaps.world.min.js' %} "></script> {% endcomment %}
    <!-- Morrisjs -->
    <script src="{% static 'assets1/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'assets1/plugins/moment/moment.min.js' %} "></script>
    <script src="{% static 'assets1/plugins/moment/moment.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'assets1/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



    {% comment %} <script src="{% static 'assets1/js/dashboard/dashboard-1.js' %}"></script> {% endcomment %}


    <script src="{% static 'assets1/plugins/tables/js/jquery.dataTables.min.js' %} "></script>
    <script src="{% static 'assets1/plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets1/plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>

</body>

</html>
